# ignore checkpoint files
**/.ipynb_checkpoints/*
**/*-checkpoint.ipynb
**/*-checkpoint.py

# ignore DS_Store files
**/.DS_Store

# ignore .env file
.env

.virtual_documents/

# ignore .nbgrader.log
.nbgrader.log

# ignore pycache files
**/__pycache__/*

# ignore emacs leftover files
**/*~

# ignore untitled notebooks
**/Untitled.ipynb

# ignore key file
**/OPENAI_API_KEY.txt

# ignore virtual environment files
.venv/
venv/
.venv*/

# for fine tuning specifically
#**/lm-evaluation-harness
**/lm_cache/*
*/alpaca_processed.jsonl
L5/lamini_docs_3_steps/*
temp/*
*/lamini_docs_processed.jsonl
